Repository ctrlup-io/rainbow-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, sort-package-json

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.{js,json,md,mdx}": "prettier --write",
  "package.json": "sort-package-json"
}

chore(release): 2.1.0 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  85008b99eb327686cfdf42360801586a9b039c70
Due: none

docs: ✏️ npm as pkg manager
  README.md
Due: prettier --write

chore: 🤖 disable Babel transpilation in Parcel
  .parcelrc
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fix: 🐛 svg without theme
  src/Rainbow/index.js
Due: eslint --cache --fix, prettier --write

chore(release): 2.1.1 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  898a463f7c9727d8a3b3703f2569c32bc5781979
Due: none

chore: 🤖 specify node version with nvm
  .nvmrc
Due: none

fix: 🐛 default typography color
  src/theme/index.js
Due: eslint --cache --fix, prettier --write

feat: 🎸 rainbow input border
  src/theme/index.js
Due: eslint --cache --fix, prettier --write

refactor: 💡 link rainbow color
  src/theme/index.js
Due: eslint --cache --fix, prettier --write

feat: 🎸 secondary color as rainbow pink
  src/theme/index.js
Due: eslint --cache --fix, prettier --write

chore(release): 2.2.0 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  49f525cac14d468ee0a130067213c305c9b6a26a
Due: none

fix: 🐛 disabled button
  package-lock.json
  src/theme/index.js
  src/theme/index.stories.mdx
Due: eslint --cache --fix, prettier --write

chore(release): 2.2.1 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  9f6c5cb1b4e541ac21144e7c1a66208e831ef8fd
Due: none

chore: 🤖 use node 16
  .nvmrc
Due: none

fix: 🐛 collapse card no contrast color
  package-lock.json
  src/CollapseCard/index.js
Due: eslint --cache --fix, prettier --write

chore(release): 2.2.2 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  fbb68ac9edbc9453e362fefa10c60cc6e1953664
Due: none

fix: 🐛 aboslute position for rainbow svg
  src/Rainbow/index.js
Due: eslint --cache --fix, prettier --write

chore(release): 2.2.3 [skip ci]
  docs/CHANGELOG.md
  package.json
Due: prettier --write, sort-package-json

Notes added by 'git notes add'
  656d5a24c486a71980d2b8b08b07f3b2454bb635
Due: none
